[submodule "modules/teamcityExtensions"]
	path = modules/teamcityExtensions
	url = https://github.com/rmaziarka/DoIt.teamcityExtensions
[submodule "modules/teamcityMaintenance"]
	path = modules/teamcityMaintenance
	url = https://github.com/rmaziarka/DoIt.teamcityMaintenance
