<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xActiveDirectory" version="2.6.0" />
  <package id="xAzure" version="0.2.0" />
  <package id="xAzurePack" version="1.1.4" />
  <package id="xBitlocker" version="1.0.1.1" />
  <package id="xCertificate" version="1.0.1.0" />
  <package id="xChrome" version="1.0.2" />
  <package id="xComputerManagement" version="1.3.0" />
  <package id="xCredSSP" version="1.0.1" />
  <package id="xDatabase" version="1.3.0" />
  <package id="xDhcpServer" version="1.2.0" />
  <package id="xDismFeature" version="1.0.0" />
  <package id="xDnsServer" version="1.1.0" />
  <package id="xDscDiagnostics" version="2.0.0" />
  <package id="xDSCResourceDesigner" version="1.5.0" />
  <package id="xExchange" version="1.3.0" />
  <package id="xFailOverCluster" version="1.1.1" />
  <package id="xFirefox" version="1.0.0" />
  <package id="xHyper-V" version="3.2.0" />
  <package id="xInternetExplorerHomePage" version="1.0.0" />
  <package id="xMySql" version="1.0.0" />
  <package id="xNetworking" version="2.2.0" />
  <package id="xNmap" version="1.0.5" />
  <package id="xOSSEC" version="1.0.0" />
  <package id="xPendingReboot" version="0.1.0.2" />
  <package id="xPhp" version="1.1.0" />
  <package id="xPowerShellExecutionPolicy" version="1.0.0" />
  <package id="xPSDesiredStateConfiguration" version="3.5.0" />
  <package id="xPython" version="1.0.0" />
  <package id="xReleaseManagement" version="1.0.0" />
  <package id="xRemoteDesktopAdmin" version="1.0.3" />
  <package id="xRemoteDesktopSessionHost" version="1.0.1" />
  <package id="xRobocopy" version="1.1.0" />
  <package id="xSafeHarbor" version="1.0.0.1" />
  <package id="xSCDPM" version="1.2.0" />
  <package id="xSCOM" version="1.3.3" />
  <package id="xSCSMA" version="1.2.1" />
  <package id="xSCSPF" version="1.3.1" />
  <package id="xSCSR" version="1.3.0" />
  <package id="xSCVMM" version="1.2.4" />
  <package id="xSharePoint" version="0.4.0" />
  <package id="xSmbShare" version="1.1.0" />
  <package id="xSqlPs" version="1.1.3.1" />
  <package id="xSqlServer" version="1.3.0" />
  <package id="xStorage" version="2.0.0" />
  <package id="xSystemSecurity" version="1.0.1" />
  <package id="xThunderbird" version="1.0.6" />
  <package id="xTimeZone" version="1.3.0" />
  <package id="xWebAdministration" version="1.7.0" />
  <package id="xWebDeploy" version="1.1.0" />
  <package id="xWindowsEventForwarding" version="1.0.0" />
  <package id="xWindowsRestore" version="1.0.0" />
  <package id="xWindowsUpdate" version="2.2.0" />
  <package id="xWinEventLog" version="1.1.0" />
  <package id="xWordPress" version="1.0.0" />
</packages>